@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap");

h1 {
  font-family: "Montserrat", sans-serif;
  color: #112b3c;
  padding: 1%;
}


.feature-box {
  content: url("https://th.bing.com/th/id/OIP.fMZwCAaBPntZ1NmSRhU6MQHaHa?pid=ImgDet&rs=1");
    padding: 2%;
    height: 250px ;
    width: 250px;
    bottom: 100px;
    position: relative;
}

.outer{
    border: 2px solid ;
    border-color: #484646;
    border-radius: 25px;

    box-shadow: 10px 10px lightblue;

    margin-top: 5%;
    padding: 3%;
    width: auto;
}




.input{
    margin-left: auto;
    margin-right: auto; 
    padding: 2%;

}



a{
    text-decoration: none;
}


.navbar-toggler{
    outline: solid;
    border: solid;
      box-shadow: none;
      opacity: 1;
  }
.login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}